# Discussion 7 Data 101/Info 258 melt() and pivot_table() demo

Original Data Model: __Matrix__
* Transforming __Matrix into Relation__ using __melt()__
* Transforming __Relation back to original Matrix__ using __pivot_table()__

## Q11 Demo

In [8]:
import pandas as pd

# Create a sample data frame
data = {
    'col1': [5, 8],
    'col2': [10, 12],
    'col3': [15, 18]
}

df = pd.DataFrame(data)

# Original data frame
print("Original Data Frame:")
print(df)
print()

# Using the melt function to reshape the data
melted_df = pd.melt(df)

# Resulting data frame after melting
print("Melted Data Frame:")
print(melted_df)
print()

# Using the pivot function to reshape the data back
pivoted_df = melted_df.pivot_table(index=melted_df.groupby('variable').cumcount(), columns='variable', values='value', 
                                   aggfunc='first')

# Rename the columns (optional)
pivoted_df.columns.name = None

# Resulting data frame after pivoting
print("Pivoted Data Frame:")
print(pivoted_df)

Original Data Frame:
   col1  col2  col3
0     5    10    15
1     8    12    18

Melted Data Frame:
  variable  value
0     col1      5
1     col1      8
2     col2     10
3     col2     12
4     col3     15
5     col3     18

Pivoted Data Frame:
   col1  col2  col3
0     5    10    15
1     8    12    18

## Q115 Demo - Pivoting

In [2]:
# Create a sample data frame
data_q2_5 = {
    'Item': ['Item0', 'Item0', 'Item1', 'Item1'],
    'CType': ['Gold', 'Bronze', 'Gold', 'Silver'],
    'USD': ['1$', '2$', '3$', '4$'],
    'EUR': ['1€', '2€', '3€', '4€']
}

df_q2_5 = pd.DataFrame(data_q2_5)
# df_q2_5

# Option #1 Using .pivot
q2_5_result = df_q2_5.pivot(index='Item', columns='CType', values=['USD'])
q2_5_result

# Option #2 Using .pivot_table - results in the same table
# q2_5_result = df_q2_5.pivot_table(index='Item', columns='CType', values=['USD'], aggfunc='first')
# q2_5_result

         USD
CType Bronze Gold Silver
Item
Item0     2$   1$    NaN
Item1    NaN   3$     4$

## Q16 Demo - Melting

In [3]:
# Create a sample data frame
data_q2_6 = {
    'student': ['Andy', 'Bernie', 'Cindy', 'Deb'],
    'school': ['Z', 'Y', 'Z', 'Y'],
    'english': [90, 100, 60, 150],
    'math': [60, 5, 99, 4],
    'physics': [80, 4, 100, 5]
}

df_q2_6 = pd.DataFrame(data_q2_6)
# df_q2_6

# Option #1 Using .pivot
q2_6_result = df_q2_6.melt(id_vars = ["student", "school"], value_vars = ["english", "math", "physics"])
q2_6_result

   student school variable  value
0     Andy      Z  english     90
1   Bernie      Y  english    100
2    Cindy      Z  english     60
3      Deb      Y  english    150
4     Andy      Z     math     60
5   Bernie      Y     math      5
6    Cindy      Z     math     99
7      Deb      Y     math      4
8     Andy      Z  physics     80
9   Bernie      Y  physics      4
10   Cindy      Z  physics    100
11     Deb      Y  physics      5

In [7]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5566 sha256=afa01a60723b62e7730af3088151399c4fdbaf93ac5c4f87aba59469ac5c350e
  Stored in directory: /home/jovyan/.cache/pip/wheels/a0/4a/5b/d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [9]:
from word2number import w2n

# Sample DataFrame with a column of string numbers
data = {
    'StringNumbers': ['five', 'one', 'three', 'seven', 'two']
}

df = pd.DataFrame(data)

# Apply the word-to-number conversion using the w2n library
df['NumericValues'] = df['StringNumbers'].apply(w2n.word_to_num)

# Display the result
print(df)

  StringNumbers  NumericValues
0          five              5
1           one              1
2         three              3
3         seven              7
4           two              2

## Original Q11 Attempt trying to use melt() and pivot() - led to incorrect results

In [24]:
# Original data frame
print("Original Data Frame:")
print(df)
print()

# Using the melt function to reshape the data
melted_df = pd.melt(df)
# melted_df = pd.melt(df, id_vars=['Date'], var_name='Fruit', value_name='Quantity')

# Resulting data frame after melting
print("Melted Data Frame:")
print(melted_df)
print()

# Using the pivot function to reshape the data back
pivoted_df = melted_df.pivot(columns='variable', values='value')

# Resulting data frame after pivoting
print("Pivoted Data Frame:")
print(pivoted_df)

Original Data Frame:
   col1  col2  col3
0     5    10    15
1     8    12    18

Melted Data Frame:
  variable  value
0     col1      5
1     col1      8
2     col2     10
3     col2     12
4     col3     15
5     col3     18

Pivoted Data Frame:
variable  col1  col2  col3
0          5.0   NaN   NaN
1          8.0   NaN   NaN
2          NaN  10.0   NaN
3          NaN  12.0   NaN
4          NaN   NaN  15.0
5          NaN   NaN  18.0